{{ define "nav" }}
  <div id="header">
    <div id="nav">
      <div class="nav-left">
        <a href="/" id="logo">
          Home
        </a>
      </div>
      <div class="nav-right">
        <a href="/auth/login">
          Login
        </a>
        <a href="/auth/signup">
          Signup
        </a>
      </div>
    </div>
  </div>
{{ end }}

