{{ define "content" }}
  <h1>Signup</h1>
  <p>Rendered from a nested directory</p>
  <form>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Signup</button>
  </form>
{{ end }}
